/* appbar.css */

/* Navbar container */
.navbar {
  position: absolute;
  width: 100%;
  height: 88px;
  left: 0px;
  top: 0px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4.95px);
}

/* Frame styling */
.frame {
  position: absolute;
  width: 100%;
  height: 88px;
  padding: 0px;
  left: calc(50% - 1920px/2);
  top: calc(50% - 88px/2);
}


.vectorlogo {
  position: absolute;
  left: 10%;
  right: 24.84%;
  top: 21.88%;
  bottom: 21.88%;
  background: transparent; /* Make sure to add this line for transparency */
}


