
.welcome_back{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 724px;
height: 317.71px;
left: 92px;
top: calc(50% - 317.71px/2 - 0.14px);
}
/* Vector */
.upper_logo{
  position: absolute;
left: 0%;
right: 84.8%;
top: 0%;
bottom: 63.71%;
background-image: url('./assets/logo_upper.svg')
}
